.card-container{
    display: flex;
    flex-direction: column;
    width: 30rem;
    min-height: 15rem;
    margin-bottom: 1rem;
    color: #fff;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 0.4em;
}

.card-text-container{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.card-top-text-group{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.card-text-container p{
    font-size: 1.3rem;
}

.card-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.card-button-group-1{
    display: flex;
    flex-direction: row;
    padding-left:  1rem;
    justify-content: space-between;
    width: 50%;
}

.card-button-group-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
    
}

p span, h2 span{
    color: red;
}

.card-top-text-group h3 {
    color: red;
}

@media only screen and (max-width: 600px) {
    .card-container{
       width: 90vw;
    }
    .card-top-text-group{
        flex-direction: column;
       
    }
    .card-button-container{
        flex-direction: column;
    }
    .card-top-text-group h2,.card-top-text-group p, .card-text-container p {
        font-size: 1rem;
    }
  

    .card-button-group-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right:  1rem;
        width: 90%;
    }
    
    .card-button-group-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right:  1rem;
        padding-left:  1rem;
        padding-right: 0;
        width: 90%;
    }
  }

 