button.container{
    font-size:1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
   
    margin-bottom: 1rem;

}

button.container:hover{
    background-color: grey;
}

button.small{
    width: 7rem;
    height: 3rem;
    
}
button.medium{
    width: 10rem;
    height: 3rem;
}
button.big{
    width: 15rem;
    height: 3rem;
}

button.danger{
    background-color:red;
    color: #fff;
}

button.success{
    background-color:green;
    color: #fff
}

button.warning{
    background-color:yellow;
    color: #000;
}

button.casual{
    background-color:blue;
    color: #fff
}


