header{
    display: flex;
    height: 10rem;
    background-color: #000;
    color: #fff;
    align-items: center;
    padding-left:4rem;
   
}

header h1{
    border-bottom: 3px solid red;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

