header{
    display: flex;
    height: 10rem;
    background-color: #000;
    color: #fff;
    align-items: center;
    padding-left:4rem;
   
}

header h1{
    border-bottom: 3px solid var(--b_color);
    margin-bottom: 10px;
    padding-bottom: 10px;
    --b_color:red;
}


header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: red;
}