.breadcrump-container{
    margin-bottom: 1rem;
    border: 3px solid #000;
    height: 2.5rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.breadcrump-container div{
    display: flex;
    flex-direction: row;
   
}


.breadcrump-container a{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.breadcrump-container h3{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.breadcrump-container a:hover{
   margin-bottom: 0.5rem;
   border-bottom: 2px solid red;
   color: red;
}