.decks-group{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-direction: row;
}

.deck-unit {
  margin: 5px 10px;
  flex: 0 1 20%;
 display: flex;
 align-items: center;
 justify-content: center;
}